{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <link rel="stylesheet" href="./css/bootstrap.css">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="row bg-dark text-white m-0 p-0">
    {{ message }}
    <div class="col">
        <h2 class="m-4">На складе</h2>
        {% for product in products %}
        <div class="product card m-4 text-dark">
            <div class="card-header fs-3 d-flex justify-content-between">
                {{ product.title }}
                <form action="" class="d-flex" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="DELETE" name="method">
                    <input type="hidden" value="{{ product.id }}" name="product_id">
                    <input type="submit" class="btn btn-danger" value="Удалить продукт" name="delete_product">
                </form>
            </div>
            <div class="card-body fs-5">
                <div class="w-100 h-100 row">
                    <div class="col">
                        <p>Категория: {{ product.category.title }}</p>
                        <p>Количество: {{ product.count|default:0 }}</p>
                        <p>Цена: {{ product.price|default:0 }}</p>

                    </div>
                    <div class="col">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="UPDATE" name="method">
                            <input type="hidden" value="{{ product.id }}" name="product_id">
                            <label for="product_count">Обновить остатки товара:</label>
                            <input type="text" class="w-100 my-2" id="product_count" name="product_count" value="{{ product.count|default:0 }}" placeholder="Количество товара">
                            <input type="submit" value="Обновить" class="btn btn-warning w-100" name="update_count"/>
                        </form>
                        <form action="" class="mt-3" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="UPDATE" name="method">
                            <input type="hidden" value="{{ product.id }}" name="product_id">
                            <label for="product_count">Обновить цену товара:</label>
                            <input type="text" class="w-100 my-2" id="product_count" name="product_price" value="{{ product.price|default:0 }}" placeholder="Цена товара">
                            <input type="submit" value="Обновить" class="btn btn-warning w-100" name="update_price"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="col-3">
        <div class="w-100 position-sticky top-0 pt-3">
            <hr>
            <form action="" method="POST" class="p-2 d-flex flex-column w-100">
                {% csrf_token %}
                <input type="hidden" value="POST" name="method">
                <p class="fs-4 pb-1 mb-1">Создание категорий</p>
                <label for="category_name">Название категории</label>
                <input type="text" placeholder="Введите название категории" name="title" id="category_name">

                <input type="submit" value="Создать категорию" class="btn btn-success my-2" name="new_category">
            </form>
            <hr>
            <form action="" method="POST" class="p-2 d-flex flex-column w-100">
                {% csrf_token %}
                <input type="hidden" value="POST" name="method">
                <p class="fs-4 pb-1 mb-1">Создание продукта</p>
                <label for="title_product">Название продукта:</label>
                <input type="text" placeholder="Введите название продукта" name="title" id="title_product">

                <label for="categorys">Выбор категории:</label>
                <select name="category_id" id="categorys" class="mt-2">
                    {% for category in categorys %}
                        <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Добавить продукт" class="btn btn-success my-2" name="new_product">
            </form>
            <hr>
        </div>


    </div>

    <script src="./js/bootstrap.js"></script>
</body>
</html>