{% extends 'base.html' %}
{% block title %}Main{% endblock title %}
{% block body %}
    <section class="w-100 h-100">
        <div class="container mt-2">
            <div class="d-flex flex-wrap justify-content-between">
                {% for profile in new_profiles.values %}
                    <div class="card mb-3" style="width: 33%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ profile.profile.username }} ({{ profile.estimations|length  }})</h5>
                            <p class="card-text">{{ profile.profile.description }}</p>
                            <div>
                                {% if profile.my_estimation  %}
                                    {% for i in profile.estimations %}
                                        {% if i.user == user %}
                                            Ваша оценка: {{ i.estimation }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h5>Поставите оценку?</h5>
                                     <div class="d-flex  align-items-center">
                                         <form action="{% url 'new_estimation' %}" method="POST" class="me-3" style="">
                                             {% csrf_token %}
                                             <div>
                                                 <input type="hidden" name="profile" value="{{ profile.profile.id }}">
                                                 <input class="star star-5" id="star-10-{{ profile.profile.id }}" type="radio" name="estimation" value="10"/>
                                                <label class="star star-5" for="star-10-{{ profile.profile.id }}"></label>
                                                 <input class="star star-5" id="star-9-{{ profile.profile.id }}" type="radio" name="estimation" value="9"/>
                                                <label class="star star-5" for="star-9-{{ profile.profile.id }}"></label>
                                                 <input class="star star-5" id="star-8-{{ profile.profile.id }}" type="radio" name="estimation" value="8"/>
                                                <label class="star star-5" for="star-8-{{ profile.profile.id }}"></label>
                                                 <input class="star star-5" id="star-7-{{ profile.profile.id }}" type="radio" name="estimation" value="7"/>
                                                <label class="star star-5" for="star-7-{{ profile.profile.id }}"></label>
                                                 <input class="star star-5" id="star-6-{{ profile.profile.id }}" type="radio" name="estimation" value="6"/>
                                                <label class="star star-5" for="star-6-{{ profile.profile.id }}"></label>
                                                 <br>
                                                 <input class="star star-5" id="star-5-{{ profile.profile.id }}" type="radio" name="estimation" value="5"/>
                                                <label class="star star-5" for="star-5-{{ profile.profile.id }}"></label>
                                                <input class="star star-4" id="star-4-{{ profile.profile.id }}" type="radio" name="estimation" value="4"/>
                                                <label class="star star-4" for="star-4-{{ profile.profile.id }}"></label>
                                                <input class="star star-3" id="star-3-{{ profile.profile.id }}" type="radio" name="estimation" value="3"/>
                                                <label class="star star-3" for="star-3-{{ profile.profile.id }}"></label>
                                                <input class="star star-2" id="star-2-{{ profile.profile.id }}" type="radio" name="estimation" value="2"/>
                                                <label class="star star-2" for="star-2-{{ profile.profile.id }}"></label>
                                                <input class="star star-1" id="star-1-{{ profile.profile.id }}" type="radio" name="estimation" value="1"/>
                                                <label class="star star-1" for="star-1-{{ profile.profile.id }}"></label>
                                             </div>
                                             <input type="submit" value="Оставить оценку" class="btn btn-primary">
                                          </form>
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock body %}

