{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock title %}
{% block body %}

    <section class="w-100 h-100">
        {% include 'header.html' %}
        <main class="container pt-2">
            <h3>Username: {{ user.username }}</h3>
            <h3>Description: {{ user.description }}</h3>
            <hr>
            <section>
                <h4>Отзывы</h4>
                <hr>
                {% for estimation in estimations %}

                    <div class="card text-dark bg-light mb-3 w-100">
                      <div class="card-header">{{ estimation.profile.username }}</div>
                      <div class="card-body">
                        Оценка пользователя: {{ estimation.estimation }}
                      </div>
                    </div>

                {% endfor %}
            </section>
        </main>
    </section>

{% endblock body %}

