body {
  width:100vw;
  height:100vh;
  background-color: #f8f9fa;
}
header {
  width: 100%;
  padding: 10px 10%;
  /* height: 40px; */
  background-color: #343a40;
  color: white;
  margin-bottom: 20px;
}
.tasks {
  background-color: #ffffff;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  width: 80%;
  margin: 0 auto;
  /* height: ; */
}
.tasks .header {
  width: 100%;
  padding: 15px 25px;
  border-bottom: 2px solid #dfdfdf;
}
.tasks .header h4 {
  padding: 0;
  margin: 0;
}

.tasks .main {
  padding: 15px 25px;
}
.task {
  padding-top: 10px;
}

.body {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}