{% load static %}
<!DOCTYPE html>
<html lang="en" class="w-100 h-100">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="w-100 h-100">
<div class="w-100 bg-dark py-2">
    <div class="container d-flex align-items-center justify-content-between">
        <h2 class="text-white">User1</h2>
        <form action="">
            <input type="submit" class="btn text-white" value="Log out">
        </form>
    </div>
</div>
<div class="w-100 h-auto bg-secondary">
    {% block body %}{% endblock %}
</div>

<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>